*{
    user-select: none;
}body{
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
}div{
    width:100vw;
    height:100vh;
    margin:0;   
    padding:0;
    position:absolute;
    top:0;
    left:0;
    background-image: url('./deadzone-sprites/index-elements/background-deadzone2.png');
    background-repeat: repeat-x;
    background-position: bottom;
    animation: lol 5.0s infinite linear;
}#logo{
    width:400px;
    margin: 0 auto;
    position:absolute;
    top:200px;
    left:0;
    bottom:0;
    right:0;
    animation: title 1.0s infinite cubic-bezier(0.6,-0.08, 0.43, 1.01) alternate-reverse;
}a img{
    width:200px;
    height:80px;
    margin: 0 auto;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}#play{    
    position:absolute;
    top:1000px;
    left:0;
    bottom:0;
    right:0;
    animation: play 3s cubic-bezier(0.13, 0.46, 0.29, 1.02) 0.5s both;
    transition:0.2s;
}#options{    
    position:absolute;
    top:1100px;
    left:0;
    bottom:0;
    right:0;
	animation: options 3s cubic-bezier(0.13, 0.46, 0.29, 1.02) 1.0s both;
    transition:0.2s;
}#play:hover{
    transition:0.2s;
    position:absolute;
    top:985px;
    left:0;
    bottom:0;
    right:0;
    padding-bottom:15px;
}#options:hover{
    transition:0.2s;
    position:absolute;
    top:1085px;
    left:0;
    bottom:0;
    right:0;    
    padding-bottom:15px;
}#ceu{
    width:100vw;
    height:665px;
    margin: 0 auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image: url('./deadzone-sprites/index-elements/deadzone-sky.png');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: top;
    animation: sky 13.0s infinite linear;
}

@keyframes title {
    0%{
    }

    100%{
        transform: translateY(-100px);
    }
}

@keyframes lol {
    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: -1024px;
    }
}
@keyframes sky {
    0%{
    }

    100%{
        background-position-x: -1920px;
    }
}
@keyframes play {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-400px);
    }
}
@keyframes options {
    0% {
              transform: translateY(0);
    }
    100% {
              transform: translateY(-400px);
    }
}